*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #CCCCCC;
    font-family: Jost, sans-serif;
    min-height: 100%;
    margin: 0;
    font-size: 16px;
}

.contenedor {
    display: grid;
    grid-template:
        "logo-top-left  password_reset-contenedor    logo-top-right" 100% /
        20em             auto                20em;}

.logo-top-left {
    grid-area: logo-top-left;
    justify-self: start;
    align-self: start;
    width: 18.625em;
    height: 11.875em;
    filter: brightness(0);
}

.logo-top-right {
    grid-area: logo-top-right;
    justify-self: end;
    align-self: start;
    padding-right: 2.5em;
    width: 12.375em;
    height: 10.75em;
    filter: brightness(0);
}

.password_reset-contenedor {
    grid-area: password_reset-contenedor;
    background-color: white;
    padding: 2.5em;
    border-radius: 0.625em;
    box-shadow: 0.3125em 0.3125em 0.25em rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 40vw;
    height: 30vw;
    justify-self: center;
    align-self: center;
    border: white 0.0625em solid;
    backdrop-filter: blur(5em);
}

.password_reset-contenedor img {
    display: block;
    margin: 0 auto 1em auto; /* Centrar la imagen y agregar margen inferior */
    max-width: 100px; /* Puedes ajustar el tamaño según sea necesario */
    height: auto;
}

.password_reset-contenedor h2 {
    color: black;
    font-size: 2.5em;
    margin-bottom: 1.25em;
    border-bottom: black 0.0625em solid;
    padding-bottom: none;
    font-weight: 600;
}

.password_reset-contenedor h3 {
    color: black;
    margin-bottom: 1.25em;
}

.inputs-contenedor h2.no-border {
    border-bottom: none; /* Elimina el borde del <h2> con la clase .no-border */
    margin-bottom: 1.25em;
}

.inputs-contenedor{
    justify-content: center;
    align-items: center;
    margin: 4em 0;
}
.input-password_reset {
    margin-bottom: 1.5em;
    position: relative;
}

.input-password_reset input {
    width: 100%;
    padding: 0.625em;
    border-radius: 3.125em;
    border: black 0.0625em solid;
    height: 3.75em;
    color: black;
    font-size: 1em;
    font-weight: 500;
}

.input-password_reset input::placeholder {
    color: #CECECE;
    font-size: 1em; /* Ajusta este valor según el tamaño que quieras */
    font-weight: 500;
    text-align: left;
}

.input-password_reset input[type="password"]::placeholder {
    content: ''; /* No es necesario establecer contenido aquí, ya que se debe definir en HTML */
}

.input-password_reset label {
    display: block;
    font-size: 1.2em; /* Ajusta este valor según sea necesario */
    margin-bottom: 0.5em;
    color: black;
}

.input-password_reset .form-control {
    font-size: 1.2em; /* Ajusta este valor según tus necesidades */
}

.input-password_reset input[type="password"]::placeholder {
    color: #CECECE;
    font-size: 1.5em; /* Aumenta el tamaño del texto del placeholder */
    font-weight: 500;
    text-align: left;
}


.input-password_reset input[type="text"], 
.input-password_reset input[type="password"] {
    background-color: transparent;
    padding-left: 2.5em;
}

.input-password_reset input[type="text"]::placeholder,
.input-password_reset input[type="password"]::placeholder {
    color: #CECECE; 
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
}

.input-password_reset input[type="text"]:focus,
.input-password_reset input[type="password"]:focus {
    outline: none;
    border: black 3px solid;
}

.acciones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.825em;
    font-size: 1.25em;
    padding: 0 1.25em 2em 1.25em;
}

.acciones label {
    color: black;
}

.acciones a {
    color: black;
    text-decoration: none;
}

.acciones a:hover {
    color: black;
    text-decoration: underline;
}

.btn {
    background-color: #008CAB;
    color: white;
    border: #008CAB 0.0625em solid;
    padding: 0.625em;
    width: 100%;
    border-radius: 3.125em;
    cursor: pointer;
    font-size: 2em;
    font-weight: 500;
}

.btn:hover {
    background-color: #CECECE;
    color: black;
    border: white 0.0625em solid;
    padding: 0.625em;
    width: 100%;
    border-radius: 3.125em;
    cursor: pointer;
    font-size: 2em;
    font-weight: 500;
}

@media (max-width: 1600px) {

    body{
        font-size: 12px;
    }

}

/* Para pantallas de hasta 1200px */
@media (max-width: 1200px) {
    .contenedor {
        grid-template:
            "logo-top-left  password_reset-contenedor    logo-top-right" auto /
            15em             auto                15em;
    }

    .logo-top-left,
    .logo-top-right {
        width: 15em;
        height: 10em;
    }

    .password_reset-contenedor {
        width: 50vw;
        height: auto;
        padding: 2em;
    }

    .password_reset-contenedor img {
        max-width: 90px;
    }

    .password_reset-contenedor h2 {
        font-size: 2.2em;
        margin-bottom: 1em;
    }

    .btn {
        font-size: 1.8em;
    }

    .input-password_reset input {
        font-size: 0.9em;
    }
}

/* Para pantallas de hasta 768px */
@media (max-width: 768px) {
    .contenedor {
        grid-template:
            "logo-top-left  password_reset-contenedor    logo-top-right" auto /
            1fr             auto                1fr;
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .logo-top-left,
    .logo-top-right {
        width: 15em;
        height: 10em;
    }

    .logo-top-right {
        padding-right: 1.5em;
    }

    .password_reset-contenedor {
        width: 320px;
        height: 400px;
        padding: 1em;
    }

    .password_reset-contenedor img {
        max-width: 80px;
    }

    .password_reset-contenedor h2 {
        font-size: 2em;
        margin-top: 0.1em;
        margin-bottom: 1em;
    }

    .password_reset-contenedor h3 {
        font-size: 1em;
        margin-bottom: 1em;
    }

    .btn {
        font-size: 1.2em;
    }

    .input-password_reset input {
        font-size: 0.75em;
    }
}

/* Para pantallas de hasta 576px */
@media (max-width: 576px) {
    .contenedor {
        grid-template:
            "logo-top-left  password_reset-contenedor    logo-top-right" auto /
            1fr             auto                1fr;
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .logo-top-left,
    .logo-top-right {
        width: 12em;
        height: 10em;
    }

    .logo-top-right {
        padding-right: 1.5em;
    }

    .password_reset-contenedor {
        width: 40vw;
        height: 75vw;
        padding: 1em;
    }

    .password_reset-contenedor img {
        max-width: 80px;
    }

    .password_reset-contenedor h2 {
        font-size: 1.5em;
        margin-top: 0.1em;
        margin-bottom: 1em;
    }

    .password_reset-contenedor h3 {
        font-size: 1em;
        margin-bottom: 1em;
    }

    .btn {
        font-size: 1em;
    }

    .input-password_reset input {
        font-size: 0.7em;
    }
    
}

/* Para pantallas de hasta 480px */
@media (max-width: 480px) {
    .contenedor {
        grid-template:
            "logo-top-left  password_reset-contenedor    logo-top-right" auto /
            1fr             auto                1fr;
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .logo-top-left,
    .logo-top-right {
        width: 12em;
        height: 10em;
    }

    .logo-top-right {
        padding-right: 1.5em;
    }

    .password_reset-contenedor {
        width: 200px;
        height: 370px;
        padding: 1em;
    }

    .password_reset-contenedor img {
        max-width: 80px;
    }

    .password_reset-contenedor h2 {
        font-size: 1.5em;
        margin-top: 0.1em;
        margin-bottom: 1em;
    }

    .password_reset-contenedor h3 {
        font-size: 1em;
        margin-bottom: 1em;
    }

    .btn {
        font-size: 1em;
    }

    .input-password_reset input {
        font-size: 0.7em;
    }
}