{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
    <!-- Fuente JOST -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/password_reset.css' %}">
</head>
<body class="contenedor">

    <!-- Logos -->
    <img src="{% static 'images/logo_universidad_blanco.svg' %}" alt="Logo Universidad Autónoma" class="logo-top-left">
    <img src="{% static 'images/logo_hospital_blanco.svg' %}" alt="Logo Hospital" class="logo-top-right">

    <!-- Contenedor de restablecer contraseña -->
    <div class="password_reset-contenedor">
        <h2>Ingrese la nueva contraseña</h2>
        
        <!-- Formulario para restablecer contraseña -->
        <form method="post">
            {% csrf_token %}
            
            <div class="input-password_reset">
                <label for="{{ form.new_password1.id_for_label }}" class="visually-hidden">Nueva contraseña</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
    
            <div class="input-password_reset">
                <label for="{{ form.new_password2.id_for_label }}" class="visually-hidden">Confirmar contraseña</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
    
            <button type="submit" class="btn">Restablecer contraseña</button>
        </form>
    </div>

</body>
</html>
